<h1 class="center">Map of Happy Hour Locations</h1>
<agm-map [latitude]="latitude" [longitude]="longitude" >
<agm-marker [latitude]="39.401046" 
[longitude]="-76.602077"
></agm-marker>
<agm-marker [latitude]="39.399686" 
[longitude]="-76.602396"
></agm-marker>
<agm-marker [latitude]="39.454816" 
[longitude]="-76.643114"
></agm-marker>
<agm-marker [latitude]="39.401630" 
[longitude]="-76.600129"
></agm-marker>
<agm-marker [latitude]="39.401176" 
[longitude]="-76.602453"
></agm-marker>

</agm-map>