<header class="v-header container">
        <div class="fullscreen-video-wrap">
          
          <video src="assets/videos/bg-video.mp4" autoplay="" loop="">
        </video>
        </div>
        <div class="header-overlay"></div>
    <div class="header-content text-md-center">
      <h1>Happy Hour Finder</h1>
      <p>Whether you're looking for all the happy hours in town or ones that meet your specified criteria, Happy Hour Finder is the perfect way to find exactly what you're looking for. Start by clicking below for all the restraunts' menus in our database or view happy hours in location view or sort view from the navigation bar above.</p>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <a [routerLink]="['allmenus']" class="btn">View All Menus</a>
    </div>
  </header>

  
       

        
     













    


 
  

